.searchWrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.searchBar {
    width: 50%;
    height: 1.8rem;
    border: 2px solid #ce3b1a;
    border-radius: 20px;
    background-color: transparent;
    padding: 16px;
    outline: none;
    align-self: center;
}

.searchBar::placeholder {
    color: #ce3b1a;
    font-weight: 700;
    font-size: 16px;
}

.nopeContainer {
    height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizzaContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.pizzaItem {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    border-top-right-radius: 5px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 5px;
}

.pizzaItem:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 5px;
}

.pizzaBox {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 5px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;


}

.pizzaImage {
    width: 20rem;
    height: 20rem;
}

.pizzaImage:hover {
    transform: scale(1.1);
    transition: transform 3s ease-out;
}

.pizzaText {
    text-align: center;
    letter-spacing: .5px;
    background-color: #ce3b1a;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pizzaText p{
    color: whitesmoke;
}

.pizzaHeader {
    font-weight: 700;
    font-size: 18px;
}

.pizzaToppings{
    text-transform: capitalize;
    font-size: 16px;
}

.pizzaPrice {
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .searchBar {
        width: 100%;
    }
}